*.o
*.a
*.so
*.dylib
*.pyo
*.pyc
a.out
.project
.cproject
.ptp-sync
.pydevproject
cscope.*
.settings

# Ignore output files
profile.*
*.csv
*.ppk

# Ignore instrumentation files
*.inst.*
*.pdb

# Ignore build files
/build

# Ignore doc folder
/doc
